BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
BreakStringLiterals: false
SortIncludes: Never
ReflowComments: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
